.mobile-nav {
	position: fixed;
	// top: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 99;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 86px;
	// background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;
	background: #000;
	transition: all 0.2s ease-in;


	@include mobile {
		display: block;
	}

	@include mobile-min {
		display: none;
	}
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav a {
	color: #fff;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 60px;

	& .active {
		opacity: 0.5;
	}
}